<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidenav-design">
    <app-sidenav-user [selectedDashboardTab]="true"></app-sidenav-user>


  </mat-sidenav>

  <mat-sidenav-content>
<div class="description-section">
      <div class="first-row">
        <h2>Generate Document</h2>
        <app-exit-button></app-exit-button>
      </div>
      <p>Autofill and sign your document with ease using our generation tools.</p>
    </div>
    <div class="main-content">
      <!-- Main content for document generation goes here -->
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>