<div class="main-container">
  <div class="logo-part">
    <img src="DocuFlow-White.png" alt="DocuFlow" class="loginLogo">
  </div>

  <div class="functional-part">
    <div class="login-container">
      <div class="info-section">
        <h3>Sign in</h3>
        <p>Sign in into your account to proceed</p>
      </div>
      <div class="input-design">
        <label>Username</label>
        <input type="text" placeholder="name@docuflow.ro">
      </div>
      <div class="input-design">
        <label>Password</label>
        <input type="password">
      </div>

      <button class="logButton" (click)="onSignUp()">Sign in</button>
      <p>Don't have an account? <span id="signUp">Sign up</span></p>
    </div>

  </div>
</div>