<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidenav-design">
    <app-sidenav-user [selectedTemplateTab]="true"></app-sidenav-user>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="description-section">
      <div class="first-row">
        <h2>Template Manager</h2>
        <div class="buttonSection">
          <button class="upload-button" (click)="openUploadModal()"><mat-icon>upload</mat-icon>Upload Template</button>
          <app-exit-button></app-exit-button>
        </div>
      </div>
      <p>Upload and validate document templates here</p>
    </div>

    <div *ngIf="isModalOpen" class="modal-open">
      <ng-container *ngIf="selectedFile!=null && isTemplateValid; then templateDetails ; else uploadFile"></ng-container>

      <ng-template #uploadFile>
        <div class="upload-card">
          <div class="card-header">
            <h3>Upload Template</h3>
            <mat-icon (click)="handleLeave()">close</mat-icon>
          </div>
          <div class="error-section" *ngIf="errorMessage">
            <mat-icon>error</mat-icon>
            <div class="action-zone">
              <p>{{errorMessage}}</p>
              <mat-icon (click)="errorMessage = null">close</mat-icon>
            </div>
          </div>

          <div class="upload-body">
            <div [ngClass]="isDragOver ? 'drop-container drag-mode' : 'drop-container'" (click)="fileInput.click()"
              (drop)="onDrop($event)" (dragover)="onDragOver($event)" (dragleave)="onDragLeave($event)">
              <div class="drop-zone">
                <mat-icon class="upload-icon">backup</mat-icon>
                <h2>Drop your document here</h2>
                <p>or click to select a file</p>
              </div>
              <input #fileInput type="file" accept=".pdf,.doc,.docx,.txt" (change)="handleFileSelected($event)"
                style="visibility: hidden;">
            </div>
            <div class="info">
              Template Requirements:
              <ul>
                <li ngNonBindable>Use double curly braces for dynamic fields: {{ fieldName }}</li>
                <li>Supported formats: DOCX</li>
                <li>Max file size: 10MB</li>
              </ul>
            </div>
          </div>
        </div>
      </ng-template>

      <ng-template #templateDetails>
        <div class="upload-card">
          <div class="card-header">
            <h3>Template Details</h3>
            <mat-icon (click)="isModalOpen = false">close</mat-icon>
          </div>
          <div class="form-zone" >
            <form [formGroup]="formGroup" (ngSubmit)="submitTemplate()">
              <div class="input-design">
                <label>Template Name</label>
                <input type="text" formControlName="name"/>
              </div>
              <div class="input-design">
                <label>Description</label>
                <textarea formControlName="description"></textarea>
              </div>
              <div class="input-design">
                <label>Category</label>
                <select formControlName="category">
                  <option *ngFor="let category of templateCategories" [value]="category">{{category}}</option>
                </select>
              </div>
              <div class="buttonSection">
                <button type="submit">Add Template</button>
                <button type="button" (click)="handleLeave()">Cancel</button>
              </div>
            </form>
          </div>
        </div>
      </ng-template>
    </div>
    <ng-container *ngIf="templates.length > 0 then showTemplates ; else  loadingScreen"></ng-container>
    <ng-template #showTemplates>
      <div class="displayTemplates">
        <app-template-container *ngFor="let template of templates" [template]="template"
          (event)="handleTemplateEvenet($event,template)"class="templateCard"> </app-template-container>
      </div>
    </ng-template>
    <ng-template #loadingScreen>
      <div class="loading-wrapper">
        <div class="loading-container">
          <mat-spinner diameter="100" strokeWidth="8" class="custom-spinner"></mat-spinner>
          <h4>Loading all templates...</h4>
          <p>Please wait while we process your request</p>
        </div>
      </div>
    </ng-template>
  </mat-sidenav-content>
</mat-sidenav-container>