<ng-container *ngIf="schema.canGenerate then template ; else locked"></ng-container>

<ng-template #locked>
<div class="card card--locked">
  <div class="accent-bar bar--locked"></div>
  <div class="card-header">
    <div class="card-left">
      <div class="card-icon icon--locked">
        <mat-icon>lock</mat-icon>
      </div>
      <div class="card-title">
        <h3>{{ schema.template.name }}</h3>
        <p class="card-description">{{ schema.template.description }}</p>
      </div>
    </div>
  </div>
  <div class="card-fields">
    <p class="fields-label">Required Fields</p>
    <div class="field-list">
      <span *ngFor="let label of schema.template.fields" class="field-tag field-tag--locked">{{ label.fieldName }}</span>
    </div>
  </div>
  <div class="card-fields" *ngIf="schema.missingFields && schema.missingFields.length > 0">
    <p class="fields-label">Missing Fields</p>
    <div class="field-list">
      <span *ngFor="let label of schema.missingFields" class="field-tag missing">{{ label }}</span>
    </div>
  </div>
  <div class="card-actions">
    <button class="btn btn--locked" disabled>
      <mat-icon>block</mat-icon>
      Missing required data
    </button>
  </div>
</div>
</ng-template>

<ng-template #template>
<div class="card">
  <div class="accent-bar bar--active"></div>
  <div class="card-header">
    <div class="card-left">
      <div class="card-icon icon--active">
        <mat-icon>description</mat-icon>
      </div>
      <div class="card-title">
        <h3>{{ schema.template.name }}</h3>
        <p class="card-description">{{ schema.template.description }}</p>
      </div>
    </div>
    <span class="status-badge">{{ schema.template.category }}</span>
  </div>
  <div class="card-fields">
    <p class="fields-label">Required Fields</p>
    <div class="field-list">
      <span *ngFor="let label of schema.template.fields" class="field-tag">{{ label.fieldName }}</span>
    </div>
  </div>
  <div class="card-actions">
    <button class="btn btn--generate" (click)="handleGenerate()">
      <mat-icon>send</mat-icon>
      Request Document
    </button>
  </div>
</div>
</ng-template>
