<div class="template-container">
  <div class="template-header">
    <mat-icon>document_scanner</mat-icon>
    <div class="first-row">
      <h3>{{ template.name }}</h3>
      <p class="confidence valid">{{template.status}}</p>
    </div>
    <div></div>
  </div>
  <div class="second-row">
    <p>Fields:</p>
    <p class="fields">{{ template.fields.length }} fields</p>
  </div>
  <div class="third-row">
    <p>Dynamic Fields:</p>
    <div class="field-list">
      <span *ngFor="let field of template.fields" class="field-design">{{ field.fieldName }}</span>
    </div>
  </div>
  <div class="button-section">
       <button class="preview-option" (click)="handleClick('Search')"><mat-icon>search</mat-icon> Preview</button>
       <button class="preview-option delete" (click)="handleClick('Delete')"><mat-icon>delete</mat-icon> Remove</button>
  </div>

</div>