.error{
    background-color: #ef4444;
    color: white;
}
.error-type{
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: space-between;
}
.error-type  > span {
    display: flex;
    align-items: center;
    gap: 12px;
}
span mat-icon {
    cursor: pointer;
    margin-left: 5px;
}
div mat-icon:hover {
    background-color: #4ade80;
    border-radius: 8px;
    
}
strong mat-icon:hover {
    background-color: #d63d3d;
    border-radius: 8px;
    
}