<ng-container *ngIf="data.type != 'error'; then confirm else error"></ng-container>

<ng-template #error>
  <div class="error-type">
  <span>
    <mat-icon>error</mat-icon>
    {{data.message}}
  </span>
  <span class="close-button" matSnackBarAction >
    <strong>
     <mat-icon (click)="onClose()">close_small</mat-icon>
    </strong>
  </span>
  </div>
</ng-template>

<ng-template #confirm>
<div class="error-type">
  <span>
    <mat-icon>done_outline</mat-icon>
    {{data.message}}
  </span>
  <span class="close-button" matSnackBarAction >
    <div>
     <mat-icon (click)="onClose()">close_small</mat-icon>
     </div>
  </span>
  </div>
</ng-template>