<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidenav-design">
    <app-sidenav-user [selectedApprovalFlowsTab]="true"></app-sidenav-user>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="description-section">
      <div class="first-row">
        <h2>Approval Flows</h2>
        <div class="buttonSection">
          <button class="upload-button" (click)="openCreateModal()"><mat-icon>add</mat-icon>Create Flow</button>
          <app-exit-button></app-exit-button>
        </div>
      </div>
      <p>Create and manage your approval flows here</p>
    </div>
    <div class="content">
      <app-approval-chain *ngFor="let chain of chains" [approvalChain]="chain"></app-approval-chain>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>



<ng-template #createFlowDialog>
  <div class="upload-card">

    <div class="card-header">
      <h3>Create an approval flow</h3>
      <mat-icon (click)="closeCreateModal()" class="close-button">close</mat-icon>
    </div>
    <div class="error-section" *ngIf="errorMessage">
        <mat-icon>error</mat-icon>
        <div class="action-zone">
          <p>{{errorMessage}}</p>
          <mat-icon (click)="errorMessage = null">close</mat-icon>
        </div>
      </div>
    <mat-dialog-content>
      <div class="form-zone">
        <form [formGroup]="formGroup" (ngSubmit)="saveFlow()">
          <div class="input-design">
            <label>Name<span style="color: red;">*</span></label>
            <input type="text" formControlName="name" placeholder="A name for a new flow" />
          </div>
          <h5>Approval Steps<span style="color: red;">*</span></h5>
          <div formArrayName="steps">
          <app-approvalstep *ngFor="let ctrl of inputFormSteps.controls; let i = index" [stepNumber]="i + 1" [roleOptions]="roles"
            (stepNumberChange)="handleStepNumberChange(i+1)" [group]="ctrl" class="step"></app-approvalstep>
            </div>
          <div class="add-more" (click)="addStep()">
            <mat-icon>add</mat-icon>
            <h4>Add step</h4>
          </div>
          <div class="buttonSection">
            <button type="submit">Add Template</button>
            <button type="button" (click)="closeCreateModal()">Cancel</button>
          </div>
        </form>
      </div>
    </mat-dialog-content>
  </div>
</ng-template>