<mat-sidenav-container>
  <mat-sidenav mode="side" opened class="sidenav-design">
    <app-sidenav-user [selectedApprovalFlowsTab]="true"></app-sidenav-user>


  </mat-sidenav>

  <mat-sidenav-content>
    <div class="description-section">
      <div class="first-row">
        <h2>Approval Flows</h2>
       <div class="buttonSection">
          <button class="upload-button" (click)="openCreateModal()"><mat-icon>upload</mat-icon>Upload Template</button>
          <app-exit-button></app-exit-button>
        </div>
      </div>
      <p>Create and manage your approval flows here</p>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>