.sidenav-design {
    width: 18%;
    background: #ffffff;
    border-right: 1px solid #e5e7eb;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 8px rgba(0, 0, 0, 0.05);
}

.description-section {
    padding: 16px 32px;
}

.description-section h2 {
    font-size: 34px;
}

.description-section h3 {
    font-size: 22px;
    font-weight: 600;
}

.description-section p {
    color: #6b7280;
    font-size: 16px;
    font-weight: 400;
}

.first-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

span {
    color: #3b82f6;
    font-weight: 700;
}


.card {
  background: #ffffff;
  padding: 24px;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  gap: 16px;
  transition: all 0.25s ease;
  cursor: pointer;
  width: 100%;
}


.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.12);
}


.card-icon {
  background: #eff6ff;
  color: #1e40af;
  padding: 12px;
  border-radius: 12px;
  font-size: 24px;
}


.card-info p {
  margin: 0;
  font-size: 24px;
  font-weight: 700;
  color: #000000;
}

.card-info h3 {
  margin: 4px 0 0;
  font-size: 15px;
  font-weight: 500;
  color: #6b7280;
}
.stats-container{
    display: flex;
    gap: 30px;

}
.container{
        padding: 24px 32px;
        margin: 16px 0px;
}
.generated {
    background: #eafff5;
    color: #065f46;
}
.pending {
    background: #fef6d5;
    color: #92400e;
}
.received {
    background: #fef2f2;
    color: #991b1b;
}
.chart-section{
    background: #ffffff;
    padding: 24px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    height: fit-content;
}
.chart-container{
    display: flex;
    gap: 24px;
    margin-top: 24px;
    align-items: center;
    justify-content: space-between;
}
.title h3{
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}
.title p{
    color: #6b7280;
    font-size: 14px;
    font-weight: 400;
    margin-top: 7px;
}
.chart-wrapper {
  flex: 1;
  max-height: 350px;   
  width: 100%;
  margin-top: 16px;
}
.title{
    margin-bottom:10px;
    display: flex;
    justify-content: space-between;
}

.legend-list {
  list-style: none; 
  padding: 0;
  margin: 15px 0;
  display: flex;
  justify-content: space-between;
}


.legend-list li::before {
  content: "";
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 4px;
  margin-left: 12px;

}

.role-accept::before      { background-color: rgba(75, 192, 192, 0.2); border: 2px solid  rgba(75, 192, 192, 1); } 
.role-pending::before  { background-color: rgba(255, 206, 86, 0.2); border: 2px solid  rgba(255, 206, 86, 1); } 
.role-reject::before       { background-color: rgba(255, 99, 132, 0.2); border: 2px solid  rgba(255, 99, 132, 1); } 

.buttonSection {
    display: flex;
    gap: 25px;
    align-items: center;
}
.notificationButton {
    background-color: #f0f4f8;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}
.notificationButton mat-icon{
    color: #374151;
}