<div class="sidenavComponent">
  <mat-toolbar color="primary" class="toolbar-design"><img src="DocuFlow2.png" alt="DocuFlow"
      class="mainLogo"></mat-toolbar>

  <div [ngClass]="selectedDashboardTab ? 'dashboard-item selected' : 'dashboard-item'" (click)="handleDashboard()">
    <mat-icon class="icon-design">dashboard</mat-icon>
    Dashboard
  </div>
  <div [ngClass]="selectedUploadTab ? 'dashboard-item selected' : 'dashboard-item'" (click)="handleUpload()"><mat-icon
      class="icon-design">document_scanner</mat-icon>Upload Document
    </div>
  <div [ngClass]="selectedGenerateTab ? 'dashboard-item selected' : 'dashboard-item'" (click)="handleGenerate()">
    <mat-icon class="icon-design">file_present</mat-icon>Generate Document
  </div>
  <div [ngClass]="selectedTemplateTab ? 'dashboard-item selected' : 'dashboard-item'" (click)="handleTemplate()">
    <mat-icon class="icon-design">attach_file_add</mat-icon>Template Manager
  </div>
  <div [ngClass]="selectemTemplteCreator ? 'dashboard-item selected' : 'dashboard-item'" (click)="handleTemplateCreator()">
    <mat-icon class="icon-design">create</mat-icon>Template Creator
  </div>
    <div [ngClass]="selectedHumanResourceTab ? 'dashboard-item selected' : 'dashboard-item'" (click)="handleHumanResource()">
    <mat-icon class="icon-design">person_3</mat-icon>Human Resource
  </div>

  <div class="user-section">
    <div class="user-card" (click)="handleProfile()">
      <img [src]="'https://api.dicebear.com/7.x/avataaars/svg?seed=' + user.firstName + user.lastName"
        [alt]="user.firstName" class="user-avatar" />
      <div class="user-specs">
        <h3>{{user.firstName}} {{user.lastName}} </h3>
        <p>{{user.role}}</p>
      </div>
    </div>
  </div>