<div class="container">
  <div class="first-row">
      <div class="info-section">
        <div>
          <mat-icon class="icon-title">
            file_open
          </mat-icon>
        </div>
        <div class="text-section">
          <h3>Document Title</h3>
          <p>Requester</p>
        </div>
      </div>
      <div class="Pending">
        Pending
      </div>
  </div>
  <div class="time-info">
    <p>Generated: <span>2025-10-05</span></p>
  </div>
  <div class="content">
    <button class="approve"><mat-icon>thumb_up</mat-icon>Approve</button>
    <button class="reject"><mat-icon>thumb_down</mat-icon>Reject</button>
    <button class="preview"><mat-icon>visibility</mat-icon>Preview</button>
  </div>
</div>